<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="7a4902f4a9b24b518ea395976f0a31e4" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_7a4902f4a9b24b518ea395976f0a31e4 = echarts.init(
            document.getElementById('7a4902f4a9b24b518ea395976f0a31e4'), 'white', {renderer: 'canvas'});
        var option_7a4902f4a9b24b518ea395976f0a31e4 = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "\u9752\u5c11\u5e74\u6000\u5b55\u7387\u6700\u9ad8\u516b\u56fdGDP",
            "xAxisIndex": 0,
            "yAxisIndex": 0,
            "data": [
                409.812942,
                828.6132202,
                664.3033157000001,
                375.8694897,
                600.2001,
                823.23,
                820.302
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            }
        },
        {
            "type": "line",
            "name": "\u9752\u5c11\u5e74\u6000\u5b55\u7387\u6700\u9ad8\u516b\u56fd\u9752\u5c11\u5e74\u6000\u5b55\u7387",
            "connectNulls": false,
            "xAxisIndex": 1,
            "yAxisIndex": 1,
            "symbolSize": 4,
            "showSymbol": true,
            "smooth": false,
            "step": false,
            "data": [
                [
                    "Angola",
                    150.526
                ],
                [
                    "Mali",
                    169.127
                ],
                [
                    "Chad",
                    161.09
                ],
                [
                    "Niger",
                    186.53799999999998
                ],
                [
                    "Burkina Faso",
                    153.1922
                ],
                [
                    "Central African Republic",
                    140.637
                ],
                [
                    "Equatorial Guinea",
                    169.9012
                ]
            ],
            "hoverAnimation": true,
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "lineStyle": {
                "width": 1,
                "opacity": 1,
                "curveness": 0,
                "type": "solid"
            },
            "areaStyle": {
                "opacity": 0
            },
            "zlevel": 0,
            "z": 0
        }
    ],
    "legend": [
        {
            "data": [
                "\u9752\u5c11\u5e74\u6000\u5b55\u7387\u6700\u9ad8\u516b\u56fdGDP"
            ],
            "selected": {
                "\u9752\u5c11\u5e74\u6000\u5b55\u7387\u6700\u9ad8\u516b\u56fdGDP": true
            },
            "show": true,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        },
        {
            "data": [
                "\u9752\u5c11\u5e74\u6000\u5b55\u7387\u6700\u9ad8\u516b\u56fd\u9752\u5c11\u5e74\u6000\u5b55\u7387"
            ],
            "selected": {
                "\u9752\u5c11\u5e74\u6000\u5b55\u7387\u6700\u9ad8\u516b\u56fd\u9752\u5c11\u5e74\u6000\u5b55\u7387": true
            },
            "show": true,
            "top": "48%",
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Angola",
                "Mali",
                "Chad",
                "Niger",
                "Burkina Faso",
                "Central African Republic",
                "Equatorial Guinea"
            ]
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 1,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                "Angola",
                "Mali",
                "Chad",
                "Niger",
                "Burkina Faso",
                "Central African Republic",
                "Equatorial Guinea"
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        },
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 1,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u9752\u5c11\u5e74\u6000\u5b55\u7387\u6700\u9ad8\u516b\u56fdGDP",
            "padding": 5,
            "itemGap": 10
        },
        {
            "text": "\u9752\u5c11\u5e74\u6000\u5b55\u7387\u6700\u9ad8\u516b\u56fd\u9752\u5c11\u5e74\u6000\u5b55\u7387",
            "top": "48%",
            "padding": 5,
            "itemGap": 10
        }
    ],
    "grid": [
        {
            "bottom": "60%",
            "containLabel": false
        },
        {
            "top": "60%",
            "containLabel": false
        }
    ]
};
        chart_7a4902f4a9b24b518ea395976f0a31e4.setOption(option_7a4902f4a9b24b518ea395976f0a31e4);
    </script>
</body>
</html>
