<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>全球青少年怀孕率</title>
    <style>
        body iframe{text-align: center;margin-top: 30px;}
        .main{margin:0 auto;width: 1000px;margin-top:20px;padding-bottom: 100px}
        .row{margin: 0 auto;width: 1000px;margin-bottom: 30px;}
    </style>
    <link href="/static/layui/css/layui.css" rel="stylesheet" type="text/css" />
    <script src="/static/layui/layui.js"></script>
</head>
<body>

<div class="main" >
    <div class="row" style="margin-bottom: 30px;">
        <blockquote class="layui-elem-quote">项目背景描述：</blockquote>
        <p>
            青少年怀孕对母亲和儿童都是高风险，它们更有可能导致早产，低出生体重，分娩病危症和死亡。
            许多青春期怀孕是意料之外的，但年轻女孩可能会继续怀孕，放弃接受教育和就业的机会，
            或寻求不安全的堕胎方法。生殖健康是与生殖系统及其功能和过程有关的身心健康状态，
            可以通过怀孕和分娩期间的教育和服务，安全有效的避孕措施以及性传播疾病的预防和治疗来提供支持，
            低收入和中等收入国家中，怀孕和分娩的病发症是导致育龄妇女和致残的主要原因。
        </p>
    </div>

    <blockquote class="layui-elem-quote">全球青少年怀孕现状</blockquote>
    <div>
        <p>
            对一些青少年而言，怀孕和分娩是有计划、受期待的结果，但对许多人不是这样。
            青少年怀孕更常见于贫穷、没有受过教育的农村社区。
            在一些国家，未婚怀孕并不鲜见。
            相比之下，一些少女可能面临结婚的社会压力，而且一旦结婚，就有必须生产的压力。
            低收入和中等收入国家有30%以上的少女在18岁以前结婚，约有14%结婚时未满15岁。
            一些少女不知道如何避孕，性教育在许多国家都很缺乏。
            她们可能感到太难以或羞于寻求避孕服务；避孕药可能过于昂贵或者没有广泛或以合法渠道提供。
            即便在避孕药广泛提供的情况下，性活跃的青春期少女使用它们的几率也比成年人低。
            少女可能无法拒绝非自愿的性行为或抵制强迫的性行为，这些通常都是无保护的性行为。
            针对全球青少年怀孕的社会现状，该项目主要利用了全球青少年怀孕率，孕妇死亡率，
            各国人均GDP的数据来分析这三项指标的关系，并引申出青少年怀孕率所映射出的社会问题。
        </p>
    </div>

    <iframe frameborder="no" src="./afr" style="width:1000px;height: 550px;"></iframe>
    <blockquote class="layui-elem-quote">全球青少年怀孕率分析</blockquote>
    <div>
        <p>
            以上轮播数据图表所显示的是2010年到2016年全球青少年怀孕率的数据分布图，
            从轮播地图上我们可以看到非洲国家的青少年怀孕率普遍较高，
            而欧洲和北美洲的青少年怀孕率较低；
            从时间的宏观角度去分析，
            虽然非洲地区的青少年怀孕率相比起其他国家要高出很多，但是从国家的数据上看，
            他们从2010年到2016年青少年怀孕率都是在逐年减少的趋势，
            当然从全球的数据来看，全球的青少年怀孕率也是呈现一个下降的趋势。
        </p>
    </div>

    <iframe frameborder="no" src="./gdp" style="width:1000px;height: 550px;"></iframe>
    <blockquote class="layui-elem-quote">全球青少年怀孕率分析</blockquote>
    <div>
        <p>
            以上轮播数据图表所显示的是2010年到2016年全球青少年怀孕率的数据分布图，
            从轮播地图上我们可以看到非洲国家的青少年怀孕率普遍较高，
            而欧洲和北美洲的青少年怀孕率较低；
            从时间的宏观角度去分析，
            虽然非洲地区的青少年怀孕率相比起其他国家要高出很多，但是从国家的数据上看，
            他们从2010年到2016年青少年怀孕率都是在逐年减少的趋势，
            当然从全球的数据来看，全球的青少年怀孕率也是呈现一个下降的趋势。
        </p>
    </div>

    <iframe frameborder="no" src="./gdp_afp" style="width:1000px;height: 550px;"></iframe>
    <div>
        <blockquote class="layui-elem-quote">全球人均GDP分析（结合全球青少年怀孕率现状）</blockquote>
        <p>
            以上数据图表显示的是2010年到2016年人均GDP的全球分布轮播图，
            从地图上的数据我们可以看出全球人均GDP的还是存在较大的差距的
            ，从各大洲的角度来看的话，北美洲和欧洲的人均GDP较高，
            而非洲各国的人均GDP也是存在较大的差距的，
            许多南非地区的人均GDP较高，而西非地区的人均GDP较低，
            然后我还发现了一个很神奇的数据就是Angola的数据，
            全球人均GDP基本都是呈上升的趋势，
            的但是Angola的人均GDP却每年都在下降，
            这是一件很神奇的事情，据我所了解Angola是全球最不发达的国家之一，
            但是随着经济全球化的影响，Angola的人均GDP竟每年都在下降，
            但我们很庆幸的是从上一张图表中我们可以看出Angola的青少年怀孕率还是在逐年减少的，
            我们现在来结合上一张有关全球青少年怀孕率的轮播图来看，
            我们可以看出全球人均GDP和全球青少年怀孕率大部分是呈负相关的关系，
            人均GDP高的国家，青少年怀孕率就较低，
            而相反人均GDP较低的国家，青少年怀孕率就较高。
            接下来我将抽取8个青少年怀孕率较高的8个国家进行相应的数据分析。
        </p>
    </div>

    <iframe frameborder="no" src="./min_afr" style="width:1000px;height: 550px;"></iframe>
    <div>
        <blockquote class="layui-elem-quote">Finland和Mali教育投入资金分析图</blockquote>
        <p>
            上图是关于Finland和Mal从1990年到2015年的政府教育投入资金的趋势图，
            可以看出从1990年开始Finland政府在教育方面的资金投入就比Mali要高出一倍，
            但是从趋势上看，Mali政府在教育投入上呈上升的趋势，到了2018年已经趋近0.9，
            而Finland政府在教育资源的投入中一直处于1.1左右的，并没有太大的变动，
            根据青少年怀孕率的数据图显示Mali的青少年怀孕率也是呈逐年下降的趋势
        </p>
    </div>

    <iframe frameborder="no" src="./max_afr" style="width:1000px;height: 600px;"></iframe>
    <div>
        <blockquote class="layui-elem-quote">青少年怀孕率最高的8个国家数据对比图分析与反思</blockquote>
        <p>
            我抽取了这8个国家的2016年的人均GDP和青少年怀孕率的数据进行了分析比较，
            这八个国家分别是Angola，Mali, Chad, Niger, Burkina Faso, Central African Republic和Equatorial Guinea，
            这些国家普遍分布在非洲地区，这些国家的人均GDP相对较低，
            在世界分区中属于落后国家的行列，而这些国家政府在教育上又投资的多少，
            在教育方面是否存在一定的缺失，女性在社会上的地位又是处于一个怎样的地位，
            联合国人口基金会拉美及加勒比区域主任Esteban Caballero认为，
            少女高怀孕率与信息的缺乏、未能获得全面的性教育及生殖健康服务直接相关，
            “许多怀孕并非是故意的选择，而是一种结果。减少少女怀孕现象意味着必须掌握有效的避孕方法。”
            过早的怀孕对少女来说还不只是健康的问题，即使她们顺利生下了孩子，也要面对社会的各种压力。
            联合国儿童基金会区域主任Marita Perceval指出，许多女孩因为怀孕必须辍学
            ，这对她们完成学业、就业以及参与公共政治生活的能力具有长期影响。“少女母亲更容易受到伤害，贫困和社会的排斥会一再被重复。”
            此外，许多数据报告还发现，在大多数国家，没有受过教育或只受过小学教育的少女
            ，她们怀孕的可能性比受过中学或高等教育的女孩高4倍；与此同时，
            在一个国家中，与收入最高的五分之一家庭相比，收入最低的五分之一家庭的女孩成为少女母亲的可能性也要高3至4倍。
            土著女孩，特别是农村地区的土著女孩，更有可能在很小的年纪就怀孕。
            接下来我抽取了两个国家在教育投资上的数据分析，这两个国家分别是青少年怀孕率较高的一个国家Mali，
            一个是青少年怀孕率较低的国家Finland。
        </p>
    </div>
</div>

</body>
</html>